<footer class='page-footer light-blue darken-2 white-text'>
  {{#md-copyright text='Daniel Gynn'
    startYear=2016
    class='light-blue darken-2 white-text'}}
    <a class="white-text right" href="https://github.com/danielgynn">GitHub</a>
  {{/md-copyright}}
</footer>
